<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!--<record id="account_mtbl.menu_action_res_bank_manu" model="ir.ui.menu">-->
        <!--<field name="groups_id" eval="[(3,ref('mtbl_access.make_invisible'))]"/>-->
    <!--</record>-->
    <!--<menuitem id="account_mtbl.menu_action_res_bank_manu"-->
              <!--name="Banks" sequence='15'-->
              <!--groups="mtbl_access.make_invisible"-->
              <!--parent="account.menu_finance_configuration"/>-->
    <record id="account.menu_account_financial_reports_tree" model="ir.ui.menu">
        <field name="groups_id" eval="[(3,ref('mtbl_access.make_invisible'))]"/>
    </record>
    <record id="account.menu_account_report_tree_hierarchy" model="ir.ui.menu">
        <field name="groups_id" eval="[(3,ref('mtbl_access.make_invisible'))]"/>
    </record>
<!--    <menuitem id="account.menu_account_financial_reports_tree"-->
<!--              groups="mtbl_access.make_invisible"/>-->
<!--    <menuitem id="account.menu_account_report_tree_hierarchy"-->
<!--              groups="mtbl_access.make_invisible"/>-->
</odoo>