.error{
    border:1px solid red !important;
}
input.reqfield,select.reqfield,textarea.reqfield{
  background-color: #D2D2FF;
}
.odoobg{
    background-color: #7c7bad !important ;
    font-weight: bold;
    color: white !important;
}