.error{
    border:1px solid red !important;
}

.mar-btm{ margin-bottom: 24px;}

.ui-datepicker .ui-state-default {
    color: #2B2B2B;
    background: yellowgreen;
}
.ui-datepicker .ui-state-active {
    background: green;
    color: white;
    font-white: bold;
}

#seat_no {
  border: 1px solid black;
  background: green;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
}

#weekday span {
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.ui-datepicker td.ui-state-disabled>span {
    color: #454545;
    background: #F6F6F6;
}

#glcm-matrix td {
    border: 1px solid black;
    text-align: center;
    color: black;
    font-size: 16px;
    height: 60px;
    width: 60px;
    padding: 4px;
}

#glcm-matrix span.available {
    background: #dcdcdb;
}
#glcm-matrix span.available:hover {
    background: green;
    color: white;
    cursor: pointer;
}

#glcm-matrix span.booked {
    background: green;
    color: white;
    pointer-events: none;
}

#glcm-matrix span.booked:hover {
    background: green;
    color: white;
    pointer-events: none;
}

.cls-theta{
    width: 60px;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.cls-distance{
    width: 100px;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
#distance .d-active{
   background-color: #28A745;
   border: 1px solid black;
   font-weight: bold;
   color: black;
}
#theta .t-active{
   background-color: #28A745;
   border: 1px solid black;
   font-weight: bold;
   color: black;
}
.match{
    border-radius: 50%;
    border: 3px solid green;
    font-weight: bold;
}
span{
    font-weight: bold;
}

#booking{
    width: 400px;
}

.library {
  position: relative;
  display: grid;
  grid-template-columns: 50px auto 70px;
  grid-template-rows: auto auto auto;
  grid-gap: 2em;
  border: 2px solid grey;
}
.window-top {
  display: flex;
  flex: 1 0 auto;
  flex-flow: column wrap;
  gap: 16px;
  /* width: 100%; */
  text-align: center;
}
.window-top .door {
  padding: 12px;
}
.window-top .officers {
  display: flex;
  justify-content: space-between;
}
.window-top .officer {
  padding: 12px;
}

.window-left {
  display: flex;
  flex: 1 0 auto;
  flex-flow: row nowrap;
  gap: 16px;
  /* width: 50px; */
  text-align: center;
  /* height: 100%; */
}
.window-left .door {
  padding: 12px;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  width: 50px;
}

.seats {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: stretch;
  align-items: stretch;
  gap: 10px;
}
.seats .available {
  box-sizing: border-box;
  width: -webkit-fill-available;
  height: fit-content;
  /* aspect-ratio: 16 / 9; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #252525;
  padding: .5em;
}

.seats .booked {
  box-sizing: border-box;
  width: -webkit-fill-available;
  height: fit-content;
  /* aspect-ratio: 16 / 9; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #252525;
  padding: .5em;
}


.window-right {
  display: flex;
  flex: 1 0 auto;
  flex-flow: column nowrap;
  gap: 16px;
  justify-content: center;
  align-items: flex-end;
}
.window-right .door {
  padding: 12px;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}
.window-right .pc {
  padding: 12px;
}

.window-bottom {
  display: flex;
  flex: 1 0 auto;
  flex-flow: row nowrap;
  gap: 16px;
  justify-content: center;
}
.window-bottom .door {
  padding: 12px;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}
.window-bottom .pc {
  padding: 12px;
}

/* #E3C800 */
/* #60A916 */
/* #ffffff */
/* #DAE8FC */
/* #7091C0 */
/* #F7CDCC */
/* #E51400 */

.d-flex {
  display: flex !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.flex-row {
  flex-direction: row !important;
}
.flex-column {
  flex-direction: column !important;
}
.bg-yellow {
  background: #e3c800;
}
.bg-green {
  background: #60a916;
}
.bg-red {
  background: #e51400;
}
.bg-light-red {
  background: #f7cdcc;
}
.bg-light-blue {
  background: #dae8fc;
}
.bg-white {
  background: #ffffff;
}
.border {
  border: 1px solid #252525;
}

.maker-lab {
  position: relative;
  display: grid;
  grid-template-columns: 140px auto 140px;
  grid-template-rows: auto auto auto;
  grid-gap: 1em;
  border: 2px solid grey;
}
.maker-lab .window-top {
  display: flex;
  flex: 1 0 auto;
  flex-flow: column wrap;
  gap: 16px;
  /* width: 100%; */
  text-align: center;
}
.maker-lab .window-top .door {
  padding: 12px;
}
.maker-lab .window-top .officers {
  display: flex;
  justify-content: space-between;
}
.maker-lab .window-top .officer {
  padding: 12px;
}
.maker-lab .window-left {
  display: flex;
  flex: 1 0 auto;
  flex-flow: row nowrap;
  gap: 16px;
  /* width: 50px; */
  text-align: center;
  /* height: 100%; */
}
.maker-lab .window-left .employees {
  display: grid;
  grid-template-rows: auto auto auto auto;
  justify-items: start;
  padding: 2em 0;
  gap: .5em;
}
.maker-lab .window-left .employees span {
  padding: 12px;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}
.maker-lab .window-left .officer {
    display: inline-flex;
    text-align: center;
    margin-left: 2em;
}
.maker-lab .window-left .door {
  padding: 12px;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  width: 50px;
}

.maker-lab .seats {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: stretch;
  align-items: stretch;
  align-content: space-between;
  gap: 10px;
}
.maker-lab .seats .seat-item {
  box-sizing: border-box;
  width: -webkit-fill-available;
  height: fit-content;
  /* aspect-ratio: 16 / 9; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #252525;
  padding: 1em;
}
.maker-lab .grid-span-3 {
    grid-column: 1/3;
}
.maker-lab .window-right {
  display: flex;
  flex: 1 0 auto;
  flex-flow: row nowrap;
  gap: 16px;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 2em 0;
}
.maker-lab .window-right .door {
  padding: 12px;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}
.maker-lab .window-right .pc,
.maker-lab .window-right .lc {
  padding: 12px;
  margin-bottom: 1em;
}

.maker-lab .window-bottom {
  display: flex;
  flex: 1 0 auto;
  flex-flow: row nowrap;
  gap: 16px;
  justify-content: flex-end;
}
.maker-lab .window-bottom .door {
  padding: 12px;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}
.maker-lab .window-bottom .pc {
  padding: 12px;
}

/* Utilites */

.d-flex {
  display: flex !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.flex-row {
  flex-direction: row !important;
}
.flex-column {
  flex-direction: column !important;
}
.bg-yellow {
  background: #e3c800;
}
.bg-green {
  background: #60a916;
}
.bg-red {
  background: #e51400;
}
.bg-light-red {
  background: #f7cdcc;
}
.bg-light-blue {
  background: #dae8fc;
}
.bg-white {
  background: #ffffff;
}
.border {
  border: 1px solid #252525;
}


.lcs div {
    border: 1px solid black;
    text-align: center;
    color: black;
    font-size: 14px;
    height: 47px;
    width: 55px;
    padding: 4px;
    margin-bottom: 13px;
}

.lcs div.available {
    background: #dcdcdb;
}

.lcs div.available:hover {
    background: green;
    color: white;
    cursor: pointer;
}

.lcs div.booked {
    background: green;
    color: white;
    pointer-events: none;
}

.lcs div.booked:hover {
    background: green;
    color: white;
    pointer-events: none;
}


