.point.clearfix{
    width:30% !important;
    text-align:right;
    font-weight: bold;
    margin-top:20px;
    margin-bottom:10px;
    float: left;
}
.pos .order .summary{
    width:50% !important;
    text-align:right;
    font-weight: bold;
    margin-top:20px;
    margin-bottom:10px;
    float:right;
}

