<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="main_fixed_asset_menu" name="Fixed Assets" sequence="20"
              web_icon="account_fam,static/description/icon.png"
              groups="account_fam_user.grp_fixasset_user,account_fam_user.grp_fixasset_manager,account_fam_user.grp_fam_system_settings"/>

    <menuitem id="sub_assets_menu" name="Fixed Assets" sequence="10"
              parent="main_fixed_asset_menu"
              groups="account_fam_user.grp_fixasset_user,account_fam_user.grp_fixasset_manager,account_fam_user.grp_fam_system_settings"/>

    <menuitem id="menu_action_account_asset_operation" name='Fixed Asset Operations'
              parent="main_fixed_asset_menu" sequence="10"
              groups="account_fam_user.grp_fixasset_user,account_fam_user.grp_fixasset_manager,account_fam_user.grp_fam_system_settings"/>

    <menuitem id="sub_assets_vendor_menu" name="Vendor Operations" sequence="15"
              parent="main_fixed_asset_menu"
              groups="account_fam_user.grp_fixasset_user,account_fam_user.grp_fixasset_manager,account_fam_user.grp_fam_system_settings"/>

    <menuitem id="sub_reports_menu" name="Reports" sequence="20"
              parent="main_fixed_asset_menu"
              groups="account_fam_user.grp_fixasset_user,account_fam_user.grp_fixasset_manager,account_fam_user.grp_fam_system_settings"/>

    <menuitem id="sub_configuration_menu" name="Configurations" sequence="30"
              parent="main_fixed_asset_menu" groups="account_fam_user.grp_fam_system_settings"/>

    <menuitem id="asset_settings_menu" name="Settings" sequence="10"
              parent="sub_configuration_menu"/>

</odoo>