
.gbs_journal_tree [data-id="debit"] {
    width: 110px;
}
.gbs_journal_tree [data-id="credit"] {
    width: 110px;
}

.gbs_journal .o_form_sheet_bg {
    position: relative;
    padding: 0 !important;
}

.gbs_journal .o_form_sheet_bg .o_form_sheet {
    max-width: 100% !important;
    padding-top: 0px !important;
    margin: 0;
}

.gbs_journal .gbs_journal_tree thead,
.gbs_journal .gbs_journal_tree thead th {
    white-space: nowrap;
}

.gbs_journal .gbs_journal_tree thead th {
    background: #ededed;
    border-left: 1px solid #dfdfdf;
    border-bottom: 2px solid #ddd;
}

.gbs_journal .gbs_journal_tree {
    max-height: calc(100vh - 255px);
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid #ddd;
}

.gbs_journal .gbs_journal_tree .table-responsive {
    overflow: initial;
}

.gbs_journal .gbs_journal_tree .table {
    width: 110% !important;
    max-width: none !important;
}

.gbs_journal .gbs_journal_tree .o_list_editable {
    width: 100%;
    over-flow-x: auto;
}