body {
  margin:0px;
  background-image:url('../../images/production_planning/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:relative;
  left:-0px;
  width:1390px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2 {
  position:absolute;
  left:944px;
  top:0px;
  width:50px;
  height:17px;
  font-family:'Franklin Gothic Book Regular', 'Franklin Gothic Book';
  color:#0033CC;
  text-align:right;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:934px;
  top:0px;
  width:10px;
  height:15px;
}
#u4_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u4_end {
  position:absolute;
  left:-5px;
  top:6px;
  width:20px;
  height:14px;
}
#u4_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u5 {
  position:absolute;
  left:894px;
  top:0px;
  width:35px;
  height:17px;
  font-family:'Franklin Gothic Book Regular', 'Franklin Gothic Book';
  color:#0033CC;
  text-align:right;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:18px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:889px;
  top:0px;
  width:10px;
  height:15px;
}
#u7_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u7_end {
  position:absolute;
  left:-5px;
  top:6px;
  width:20px;
  height:14px;
}
#u7_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u8 {
  position:absolute;
  left:835px;
  top:0px;
  width:49px;
  height:17px;
  font-family:'Franklin Gothic Book Regular', 'Franklin Gothic Book';
  color:#0033CC;
  text-align:right;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:820px;
  top:0px;
  width:10px;
  height:15px;
}
#u10_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u10_end {
  position:absolute;
  left:-5px;
  top:6px;
  width:20px;
  height:14px;
}
#u10_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u11 {
  position:absolute;
  left:650px;
  top:0px;
  width:165px;
  height:17px;
  font-family:'Franklin Gothic Book Regular', 'Franklin Gothic Book';
  color:#0033CC;
  text-align:right;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:18px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:15px;
  width:210px;
  height:65px;
  font-family:'Neutraface Slab Text Regular', 'Neutraface Slab Text';
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:65px;
}
#u14 {
  position:absolute;
  left:0px;
  top:49px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:81px;
  width:1390px;
  height:1109px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1391px;
  height:1110px;
}
#u16 {
  position:absolute;
  left:2px;
  top:546px;
  width:1386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:14px;
  top:124px;
  width:62px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:207px;
  top:120px;
  width:127px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background-image:none;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20 {
  position:absolute;
  left:14px;
  top:196px;
  width:72px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:207px;
  top:192px;
  width:127px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background-image:none;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23 {
  position:absolute;
  left:14px;
  top:231px;
  width:58px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:17px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:207px;
  top:227px;
  width:127px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background-image:none;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26 {
  position:absolute;
  left:14px;
  top:266px;
  width:43px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:207px;
  top:262px;
  width:127px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background-image:none;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29 {
  position:absolute;
  left:14px;
  top:159px;
  width:94px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:17px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:14px;
  top:301px;
  width:117px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:207px;
  top:297px;
  width:127px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background-image:none;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34 {
  position:absolute;
  left:14px;
  top:336px;
  width:115px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:17px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:207px;
  top:332px;
  width:127px;
  height:22px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background-image:none;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u37 {
  position:absolute;
  left:207px;
  top:155px;
  width:127px;
  height:22px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background-image:none;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u38 {
  position:absolute;
  left:14px;
  top:390px;
  width:100px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u39 {
  position:absolute;
  left:124px;
  top:390px;
  width:100px;
  height:25px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u40 {
  position:absolute;
  left:234px;
  top:390px;
  width:100px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
